<div id="allWrap">

  <div class="categoryWrap" *ngFor="let category of categoriesWithItems.categories">

    <div class="subtitle">{{category.name}}</div>

    <div class="itemCard" *ngFor="let item of category.items">

      <a routerLink="/items/{{item.id}}">

        <img *ngIf="item.photos.length" class="itemPhotos" src={{item.photos[0].url}}>
        <img *ngIf="!item.photos.length" class=itemPhotos src="../../../assets/photo-camera.svg">

        <div class="textWrap">
          <div class="itemDescription">{{item.description}}</div>
          <div class="itemCreatedAt">{{item.created_at}}</div>
        </div>

      </a>

    </div>
  </div>
</div>