<div class="itemPhotoContainer" *ngFor="let photo of item.itemData.photos" >
    <img class="itemPhotos" src={{photo.url}} >
      <button (click)="deletePhoto(photo)">Delete</button>
    </div>
    

<div *ngIf="!editMode || !author" id="detailCardWrap">
  <h2>Description: {{item.itemData.description}}</h2>
  <h4>Manufacterer: {{item.itemData.manufacturer}}</h4>
  <h4>Model: {{item.itemData.model}}</h4>
  <h4>Price: {{item.itemData.price}}</h4>
  <h4>Category: {{item.itemData.category.name}}</h4>
  <h4>Condition: {{item.itemData.condition.name}}</h4>
  <h4>Dimensions: {{item.itemData.dimensions}}</h4>
  <h4>Published: {{item.itemData.created_at}}</h4>
  <h4>Updated: {{item.itemData.updated_at}}</h4>
  <h4>Detail: {{item.itemData.detail}}</h4>
</div>

<form *ngIf="author && editMode">
  <label for="description">Description: </label>
  <input name="description" type="text" [(ngModel)]="item.itemData.description">
  <br>

  <label for="manufacturer">Manufacturer: </label>
  <input name="manufacturer" type="text" [(ngModel)]="item.itemData.manufacturer">
  <br>

  <label for="model">Model: </label>
  <input name="model" type="text" [(ngModel)]="item.itemData.model">
  <br>

  <label for="price">Price: </label>
  <input name="price" type="text" [(ngModel)]="item.itemData.price">
  <br>

  <label for="category">Category: </label>
  <select name="category_id" [(ngModel)]="item.itemData.category.id">
    <option *ngFor="let category of dropdown.categories.categories" value={{category.id}}>{{category.name}}</option>
  </select>
  <br>

  <label for="condition">Condition: </label>
  <select name="condition_id" [(ngModel)]="item.itemData.condition.id">
    <option *ngFor="let condition of dropdown.conditions.conditions" value={{condition.id}}>{{condition.name}}</option>
  </select>
  <br>

  <label for="status">Status: </label>
  <select name="status_id" [(ngModel)]="item.itemData.status.id">
    <option *ngFor="let status of dropdown.status.status" value={{status.id}}>{{status.name}}</option>
  </select>
  <br>

  <label for="dimensions">Dimensions: </label>
  <input name="dimensions" type="text" [(ngModel)]="item.itemData.dimensions">
  <br>

  <label for="detail">Details: </label>
  <input name="detail" type="text" [(ngModel)]="item.itemData.detail">
  <br>

  <label for="photos">Photo: </label>
  <input type="file" name="photos" [(ngModel)]="item.itemData.photo" accept=".jpg, .jpeg, .png" multiple>
  <br>
  <button (click)="submitEditItem($event)">Submit</button>
</form>

<button *ngIf="author" (click)="toggleEditMode($event)">Edit</button>

<div>{{message}}</div>