<div id="userItemWrap">

  <div class="statusWrap" *ngFor="let status of status.status">

    <div class="subtitle">{{status.name}}</div>

    <div class="itemCard" *ngFor="let item of filteredItems[status.id]">
      <a routerLink="/items/{{item.id}}">

            <img *ngIf="item.photos.length" class="itemPhotos" src={{item.photos[0].url}} >
            <img *ngIf="!item.photos.length" class=itemPhotos src="../../../assets/photo-camera.svg">

        <div class="textWrap">
          <div class="itemDescription">{{item.description}}</div>
          <div class="itemCreatedAt">{{item.created_at}}</div>
        </div>

      </a>
      
    </div>
  </div>
</div>