<form *ngIf="!loginData.online">
  <label for="email">Email: </label>
  <input type="text" name="email" placeholder="Input email here" [(ngModel)]="loginData.email">
  <br>

  <label for="password">Password: </label>
  <input type="password" name="password" placeholder="Input password here" [(ngModel)]="loginData.password">
  <br>
  <div>{{message}}</div>

  <button (click)="loginUser($event)">Login</button>
</form>
<button *ngIf="!loginData.online" routerLink="/register">Register</button>

<div *ngIf="loginData.online">
  Welcome! {{loginData.email}}
  <button (click)="logoutUser($event)">Logout</button>
</div>