<div id="loginWrap">

  <form *ngIf="!loginData.online" #loginForm="ngForm">
  
    <div class="formGroup">
      <label for="email">Email: </label>
      <input id="email" type="text" name="email" placeholder="Input email here" [(ngModel)]="loginData.email" required email="true"
        #email="ngModel">
      <div class="errorMessage" [hidden]="email.valid || email.pristine">
        Use a valid email address. (example@example.com)
      </div>
    </div>
  
    <div class="formGroup">
      <label for="password">Password: </label>
      <input id="password" type="password" name="password" placeholder="Input password here" [(ngModel)]="loginData.password" required
        minlength="8" #password="ngModel">
      <div [hidden]="password.valid || password.pristine" class="errorMessage">
        Password must be at least 8 characters.
      </div>
    </div>
  
    <button [disabled]="!loginForm.valid" (click)="loginUser($event)">Login</button>
  
    <button *ngIf="!loginData.online" routerLink="/register">Register</button>
    
  </form>
  
  <div *ngIf="message" class="errorMessage">{{message}}</div>
  
  <div *ngIf="loginData.online">
    Welcome! {{loginData.email}}
    <button (click)="logoutUser($event)">Logout</button>
  </div>

</div>