<h2>Register:</h2>

<form>
  <label for="email">Email: </label>
  <input type="text" name="email" placeholder="Input email here" [(ngModel)]="registrationData.email">
  <br>

  <label for="password">Password: </label>
  <input type="password" name="password" placeholder="Input password here" [(ngModel)]="registrationData.password">
  <br>

  <label for="confirmPassword">Confirm password: </label>
  <input type="password" name="confirmPassword" placeholder="Confirm password here" [(ngModel)]="registrationData.confirmPassword">
  <br>



  <button (click)="submitRegistration($event)">Submit</button>
</form>

<div>{{message}}</div>