<h2>Publish New Item:</h2>

<form>
  <label for="description">Description: </label>
  <input type="text" name="description" placeholder="Input description here" [(ngModel)]="itemData.description"> *
  <br>

  <label for="dimensions">Dimensions: </label>
  <input type="text" name="dimensions" placeholder="Input dimensions here" [(ngModel)]="itemData.dimensions">
  <br>

  <label for="manufacturer">Manufacturer: </label>
  <input type="text" name="manufacturer" placeholder="Input manufacturer here" [(ngModel)]="itemData.manufacturer">
  <br>

  <label for="model">Model: </label>
  <input type="text" name="model" placeholder="Input model here" [(ngModel)]="itemData.model">
  <br>

  <label for="price">Price: </label>
  <input type="text" name="price" placeholder="Input price here" [(ngModel)]="itemData.price">
  <br>

  <label for="category">Category: </label>
  <select name="category" id="newCategory" [(ngModel)]="itemData.category_id">
    <option value="" selected disabled hidden>Select category</option>
    <option *ngFor="let category of categories.categories" value={{category.id}}>{{ category.name }}</option>
  </select>

  <label for="condition">Condition: </label>
  <select name="condition" id="newCondition" [(ngModel)]="itemData.condition_id">
    <option value="" selected disabled hidden>Select condition</option>
    <option *ngFor="let condition of conditions.conditions" value={{condition.id}}>{{ condition.name }}</option>
  </select>


  <button (click)="submitNewItem($event)">Submit</button>
</form>

<br>
<br> {{ itemData.message }} {{itemData.category_id}} {{itemData.condition_id}}