
<div id="sidebarWrap">
  <div class="navLink" id="homeLink">
    <a routerLink="/">Home</a>
  </div>

  <div class="navLink" id="userLink" *ngIf="loginData.online">
    <a routerLink="/user">User</a>
  </div>

  <div class="navLink" id="settingsLink" *ngIf="loginData.online">
    <a routerLink="/user/settings">Settings</a>
  </div>

  <div class="navLink" id="addItemLink" *ngIf="loginData.online">
    <a routerLink="/items/new">+ New Item</a>
  </div>

  <div id="navCategoriesWrap" (mouseenter)="categoryEnter($event)" (mouseleave)="categoryLeave($event)">
    <div class="navLink">Categories </div>
    <div id="navCategoryList" *ngIf="showCategories">
      <div class="navCategoryWrap" *ngFor="let category of categories.categories">
        <div class="navLink">
          <a routerLink="/categories/{{category.id}}">
            - {{ category.name }} -</a>
          </div>
        </div>
    </div>
    <div class="navLink" id="allItemsLink">
      <a routerLink="/items/all">All Items</a>
    </div>
  </div>
</div>